.circle1 {
  position: absolute;
  z-index: -100;
  top: 0px;
  left: 10px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #f7add5, transparent);
}
.circle2 {
  position: absolute;
  z-index: -100;
  top: 100px;
  right: 150px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #a7def4, transparent);
}
.circle3 {
  position: absolute;
  z-index: -100;
  top: 25%;
  left: -150px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #a7def4, transparent);
}
.circle4 {
  position: absolute;
  z-index: -100;
  top: 28%;
  right: -250px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #f7add5, transparent);
}
.circle7 {
  position: absolute;
  z-index: -100;
  top: auto;
  bottom: 250px;
  left: -50px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #f7add5, transparent);
}
.circle8 {
  position: absolute;
  z-index: -100;
  top: auto;
  bottom: 50px;
  right: -200px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #a7def4, transparent);
}
.circle9 {
  position: absolute;
  z-index: -100;
  top: auto;
  bottom: -400px;
  left: -100px;
  width: 900px;
  height: 900px;
  background: radial-gradient(circle farthest-side, #f7add5, transparent);
  overflow: hidden;
}
